.home-detalle{
    padding-top: 200px;
    p{
        font-size: 2em;
        font-weight: bold;
    }
    img{
        border:1px solid black;
    }
}


.home{
    padding-top: 55px;
   
    a{
        text-decoration: none;
        color: black;
    }
    
}
.card-footer{
    background-color: white;
    border-top:white;
    }
.card-margin{
    margin-bottom: 5px;
    .card{
        height:430px;
    }
}

.card-body h5{
    font-size: 0.9em;
    font-family: Arial, Helvetica, sans-serif;
}

.card-body p{
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    line-height: 10px;
}

    .carrito{
    padding-top:15px ;
    }
    .caja-detalle-producto{
        margin-bottom: 10px;
        .caja-detalle-producto-interior{
            padding: 20px;
            border: 1px solid gray;
        }
    }

    .footer{
        margin-top: 8em;
        background-color:    #0d6efd;
        padding-top: 0.8em;
        p{
            color:white; 
            font-size: 0.8em;
        }
    }